# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password_here
DB_DATABASE=qualle_task_db
DB_SYNCHRONIZE=false
DB_LOGGING=false

# JWT
JWT_SECRET=generate_a_random_secret_here
JWT_EXPIRATION=1d

# App
PORT=3000
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
